
@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Inter:wght@700&family=Lato:wght@400;700&family=MuseoModerno:wght@300;400;500;700&family=PT+Sans&family=Roboto:ital,wght@0,300;1,500&family=Rubik:wght@500&display=swap');
.container{
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}
.header{    
    &__menu {
        margin-left: 100px;
        display: flex;
        margin-top: -30px;
        ul{
            display: flex;
        }
        li{
            list-style-type: none;
        }
        a{
            text-decoration: none;
            margin-left: 35px;
            color: #1A212F;
            font-family: Lato;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            transition: .4s ease-in-out;
            &:hover{
                color: #ff7236;
                transition: .4s ease-in-out;
            }
        }
        
    }
}
.header__bars{
    display: none;
}
.offcanvas{
    background-color: #FAC663;
}
.modal-backdrop.show{
    display: none;
}
.offcanvas-body{
    a{
        color: #1A212F;
        font-family: Rubik;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-decoration: none;
    }
    li{
        list-style-type: none;
        padding-top: 20px;
    }
}
.bn{
    button{
        border-radius: 25px;
        background:#FFFEFD;
        box-shadow: 0px 5px 25px 0px rgba(26, 33, 47, 0.10);
        border: none;
        transition: .6s ease-in-out;
        &:hover{
            background-color: #ff7236;
            transition: .6s ease-in-out;
            transform: scale(1.1);
            span{
                color: #fff;
                transition: .6s ease-in-out;
            }
        }
        &:active{
            transform: scale(.8);
            transition: .6s ease-in-out;
            border: none;
        }
    }
    span{
        color: #1A212F;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-align: center;
        padding: 10px 25px;
        transition: .6s ease-in-out;
    }
    img{
        padding: 5px 3px;
    }
}
.btn{
    border-radius: 25px;
    background: #FFF;
    box-shadow: 0px 2px 12px 0px rgba(173, 152, 143, 0.18);
    border: none;
    color: #000;
    transition: .5s ease-in-out;
    &:hover{
        background-color: #ff7236;
        transition: .5s ease-in-out;
    }
}
button:focus:not(:focus-visible){
    background-color: #ff7236;
}

.nashi{
    margin-top: 50px;
    &__dropdown{
        margin-top: -80px;
    }
    &__title{
        margin-bottom: 30px;
        h2{
            color: #1A212F;
            font-family: Rubik;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }
    &__btn{
        button{
            border-radius: 30px;
            padding: 10px 30px;
            background-color: #fff;
            border-color: #FAC663;
            color:#1A212F;
            font-family: Lato;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            transition: .5s ease-in-out;
            &:hover{
                transition: .5s ease-in-out;
                background-color: #ff7236;
                color: #fff;
                border-color: #fff;
            }
            &:active{
                transform: scale(.9);
                transition: .5s ease-in-out;
                background-color: #ff7236;
                color: #fff;
                border-color: #fff;
            }
        }
    }
    &__card{
        margin-bottom: 30px;
        border-radius: 6px;
        border: 1px solid #E1E1E1;
        background: #FFF;
        box-shadow: 0px 0px 25px 0px rgba(208, 208, 208, 0.25);
    }
}
.checkbox{
    &__title{
        p{
            color: #1A212F;
            font-family: Lato;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
    }
    &__amount{
        display: flex;
        p{
            color: #1A212F;
            font-family: Lato;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            border: 1px solid #E1E1E1;
            width: 100px;
            margin-right: 15px;
            padding: 3px 15px;
        }
    }
}
.input{
    &__title{
        p{
            margin-top: 30px;
            color: #1A212F;
            font-family: Lato;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
    }
}
.bn{
    button{
        border-radius: 25px;
        background:#FFFEFD;
        box-shadow: 0px 5px 25px 0px rgba(26, 33, 47, 0.10);
        border: none;
        transition: .6s ease-in-out;
        &:hover{
            background-color: #ff7236;
            transition: .6s ease-in-out;
            transform: scale(1.1);
            span{
                color: #fff;
                transition: .6s ease-in-out;
            }
        }
        &:active{
            transform: scale(.8);
            transition: .6s ease-in-out;
            border: none;
        }
    }
    span{
        color: #1A212F;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-align: center;
        padding: 10px 25px;
        transition: .6s ease-in-out;
    }
    img{
        padding: 5px 3px;
    }
}
.card{
    &__image{
        img{
            width: 100%;
        }
    }
    &__title{
        h3{
            color: #1A212F;
            font-family: Rubik;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
        p{
            color: #1A212F;
            font-family: Lato;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        span{
            color: #1A212F;
            font-family: Lato;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            margin-left: 10px;
        }
        padding: 10px 20px;
    }
    &__btn{
        text-align: center;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
    }
}
.nashi{
    &__modal{
        display: none;
    }
}
.kajdiy{
    background-image: url(/img/kajdiy__bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
    padding-left: 250px;
    padding-top: 100px;
    padding-bottom: 200px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    height: 379px;
    margin-top: 100px;
    margin-bottom: 100px;
    &__title{
        max-width: 319px;
        h2{
            color: #1A212F;
            font-family: Rubik;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
        p{
            color: #1A212F;
            font-family: Rubik;
            font-size: 56px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }
    &__desc{
        max-width: 254px;
        p{
            color:#1A212F;
            font-family: Lato;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
        }
    }
}
.kak{
    &__title{
        h2{
            color: #1A212F;
            font-family: Rubik;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            padding-left: 135px;
            padding-top: 50px;
        }
    }
    &__nas{
        background-color: #fac663;
    }
    &__img{
        img{
            width: 100%;
        }
    }
}
.nas{
    &__title{
        padding-left: 135px;
        p{
            color:#1A212F;
            font-family: Lato;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
        span{
            color: #1A212F;
            font-family: Lato;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
    &__link{
        padding-top: 20px;
        padding-left: 135px;
        p{
        color: #1A212F;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        }
        i{
            padding-right: 30px;
            font-size: 20px;
        }
    }
}
.nas__link{
    li{
        list-style-type: none;
    }
    a{
        text-decoration: none;
        color: #000;
    }
}
.footer{
    margin-top: 10px;
    &__menu {
        margin-left: 100px;
        display: flex;
        margin-top: -30px;
        ul{
            display: flex;
        }
        li{
            list-style-type: none;
        }
        a{
            text-decoration: none;
            margin-left: 35px;
            color: #1A212F;
            font-family: Lato;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            transition: .4s ease-in-out;
            &:hover{
                color: #ff7236;
                transition: .4s ease-in-out;
            }
        }
    }
    &__logo{
        img{
            margin-left: 150px;
        }
    }
    &::before{
        content: "";
        position: absolute;
        width: 1366px;
        height: 1px;
        background: #EFEFEF;
        margin-left: 20px;
        margin-top: 70px;
        margin-left: 60px;
    }
    &__date{
        margin-top: 20px;
        display: flex;
        margin-left: 150px;
        P{
            color: #8F8F8F;
            font-family: Lato;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
}
@media (max-width:1200px) {
    .header{
        margin-left: -300px;
        &__logo{
            margin-left: 350px;
        }
    }
    .kak{
        &__title{
            h2{
                padding-left: -10px;
            }
        }
    }
    .nas{
        &__link{
            padding-left: -10px;
        }
    }
    .footer{
        &::before{
            content: "";
            position: absolute;
            width: 1100px;
            height: 1px;
            background: #EFEFEF;
            margin-left: 20px;
            margin-top: 70px;
            margin-left: 60px;
        }
    }
}
@media (max-width:992px) {
    .header{
        .col-md-6{
            max-width: 300px;
        }
        &__logo{
            margin-left: 350px;
        }
        &__menu{
            margin-left: -100px;
            a{
                margin-left: 20px;
            }
    }
}
    .footer{
        &::before{
            display: none;
        }
        &__menu{
            margin-left: 0px;
        }
    }
    .kak{
        &__title{
            h2{
                padding-left: -10px;
            }
        }
        &__img{
            img{
                height: 550px;
            }
        }
    }
}
@media (max-width:768px) {
    .nashi{
        .col-10{
            margin-left: 50px;
        }
        .col-md-4{
            width: 320px;
        }
        .col-2{
            display: none;
        }
    }
    .card{
        &__btn{
            button{
                max-width: 300px;
            }
        }
    }
    }
    .nomer{
        &__img{
            img{
                max-width: 500px;
                padding-left: 0;
            }
        }
        &__btn{
            margin-left: 10px;
        }
    }
    .ekanom{
        &__text{
            max-width: 300px;
            margin-top: 30px;
            margin-left: 10px;
        }
    }
    .radio{
        margin-left: 320px;
    }
    .kak{
        &__title{
            h2{
                margin-left: -120px;
            }
        }
    }
    .nas{  
        &__title{
            max-width: 400px;
            margin-left: -110px;
        }
        &__link{
            margin-left: -110px;
        }
    }
    .footer{
        &__menu{
            margin-left: -200px;
        }
        &__logo{
            img{
                margin-left: -15px;
            }
        }
    }
@media (max-width:576px) {
    .header{
        &__menu{
            display: none;
        }
        &__logo{
            margin-left: 330px;
        }
        &__bars{
            margin-left: 700px;
            display: block;
            margin-top: -30px;
            margin-bottom: 20px;
            i{
                font-size: 30px;
            }
        }
    }
    .dropdown{
        margin-left: -100px;
    }
    .nashi{
        &__title{
            max-width: 300px;
        }
        .col-2{
            display: block;
        }
        &__checkbox{
            display: none;
        }
        &__btn{
            display: none;
        }
        &__card{
            margin-right: -150px;
        }
        &__title{
            margin-left: 40px;
        }
        &__modal{
            display: block;
            margin-top: -10px;
            margin-bottom: 20px;
            margin-left: 50px;
            button{
                border: none;
                border-radius: 30px;
            }
            .bn-white{
                background-color: #fff;
                border: 1px solid #FAC663;
            }
            .bn-orange{
                background-color: #fac663;
            }
        }
    }
    .card{
        width: 500px;
    }
    .ekanom{
        &__text{
            max-width: 500px;
        }
    }
    .radio{
        margin-left: 250px;
    }
    .footer{
        &__date{
            display: none;
        }
    }
    .kajdiy{
        background-image: url(/img/kajdiy__bg576.png);
        padding-bottom: 1000px;
        margin-left: 40px;
        margin-right: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 500px;
    &__title{
        text-align: center;
        margin-left: -170px;
        h2{
            color: #1A212F;
            font-family: Rubik;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-align: center;
        }
        p{
            color: #1A212F;
            text-align: center;
            font-family: Rubik;
            font-size: 56px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }
    &__desc{
        text-align: center;
        margin-left: -130px;
        p{
            text-align: center;
            color:#1A212F;
            font-family: Lato;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
        }
    }
    &__btn{
        margin-left: -110px;
    }
    }
    .kak{
        width: 500px;
        margin-left: 40px;
        &__title{
            margin-left: 150px;
        }
    }
    .nas{
        &__link{
            margin-left: 20px;
        }
    }
    .footer{
        display: none;
    }
}
@media (max-width:360px) {
    .header{
        &__logo{
            margin-left: 300px;
        }
        &__bars{
            margin-left: 600px;
        }
    }
    .nashi{
        &__card{
            width: 300px;
            margin-left: -30px;
        }
        &__dropdown{
            margin-top: -20px;
            margin-bottom: -20px;
        }
    }
    .card{
        width: 300px;
    }
    .kajdiy{
        width: 330px;
        margin-left: auto;
        margin-right: auto;
        &__title{
            margin-left: -250px;
            h2{
                font-size: 30px;
            }
            p{
                font-size: 35px;
            }
        }
        &__desc{
            margin-left: -220px;
        }
        &__btn{
            margin-left: -200px;
        }
    }
    .kak{
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        &__title{
            margin-left: -10px;
        }
    }
    .nas{
        &__link{
            margin-left: -120px;
        }
    }
    .nomer{
        &__img{
            img{
                width: 300px;
            }
        }
        &__pos{
            display: none;
        }
    }
    .footer__menu{
        margin-left: -100px;
    }
    .footer{
        display: none;
        &__date{
            display: none;
        }
    }
}